body{
  background-color: black;
}
h1{
  color: white;
  font-size: 55px;
  padding-bottom: 15px;
}
h4{
  font-size: 30px;
  padding-bottom: 10px;
}
a:link{
  font-size: 30px;
  border-radius: 7px;
}
a:visited{
  font-size: 30px;
  border-radius: 7px;
}
.block{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#snoop{
  position: fixed;
  top: 70%;
  left: 70%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#frog{
  position: fixed;
  top: 70%;
  left: 7%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
