body{
  background-color: black;
}
.content{
  width: 100%;
  height: 100%;
}
h1{
  color: white;
  font-size: 55px;
  padding-bottom: 15px;
}
h4{
  font-size: 30px;
  padding-bottom: 10px;
}
a:link{
  font-size: 30px;
  border-radius: 7px;
}
a:visited{
  font-size: 30px;
  border-radius: 7px;
}
input {
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
#git{
font-size: 15px;
border-radius: 7px;
}
.btn-primary{
  font-size: 20px;
  margin-bottom: 2px;
}
.block{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#mlg-on{
  position: fixed;
  padding: 10px;
  font-size: 30px;
  top: 89%;
  left:92%;
  transform: translate(-50%, -50%);
  -ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
   transform: rotate(-45deg);
}
#mlg-off{
  position: fixed;
  padding: 10px;
  font-size: 30px;
  top: 2%;
  left:-2.5%;
  transform: translate(-50%, -50%);
  -ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45); /* Chrome, Safari, Opera */
   transform: rotate(-45deg);
}
#clarifai{
  width: inherit;
}
.images{
  width: inherit;
}
@media screen and (max-width: 520px) {
    .main{
      width: inherit;
      height: inherit;
    }
    #mlg-off{
      top: 1.5%;
      left:-5.5%;
    }
    #mlg-on{
      top: 88%;
      left:79%;
    }
}
